!!!
html
  head
    meta(charset='utf-8')
    meta(name='viewport',
      content='width=device-width,initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='jukebox.css')
    script(src='//connect.soundcloud.com/sdk.js', async).SC
    script(src='jukebox.js', async)
  body
    //- address.
    //-   github, twitter @mischanix
    article.app
      header
        .row.clearfix
          h3.brand jukebox
          .account
            .quarters
            a.verb
      section.playback
        .row
          a.song
            .artist
            .title
        .row.clearfix
          a.verb.mute unmute
          .progress
            .left.bracket
            .right.bracket
            .indicator
            .status
              p.elapsed -.--
              p.total -.--
        .row
          .engage
            p.verb.queue queue a song
        .row
          .engage
            a.tip
              p 1.6 quarters tipped
              p.verb tip the queuer
            a.skip.toggle
              p 18% skip progress
              p.verb vote to skip
      section.chat
        .row
          .list
            .spacer
        .row
          .input
            form.chat-form
              input(type='text')
              input(type='submit', hidden)
    article.modal.login
      .row.clearfix
        form.user-form
          label
            span nickname
            span.error
          input(type='text', name='nickname')
          label password
          input(type='password', name='password')
          input(type='submit', value='login / register').verb
    article.modal.search
      .row
        .box
          a.verb.cancel x
          .input
            input(type='text', name='search')
      .row
        .list
          p.loading loading...
